@{
    ViewData["Title"] = "Yeni Rol Ekle";
}

<h1>Yeni Rol Ekle</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="roleName">Rol Adı</label>
        <input type="text" id="roleName" name="roleName" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Kaydet</button>
</form>
<a asp-action="Index" class="btn btn-secondary mt-3">Geri Dön</a>
