@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h1>Roller</h1>
<table class="table">
    <thead>
        <tr>
            <th>Rol Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@role.Id" class="btn btn-warning btn-sm">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-success">Yeni Rol Ekle</a>
